h1 {
    text-align: center;
    color: red;
}

body{
    background-image: url("../images/bg.jpg");
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    color: aliceblue;
    
}

.score{
    font-size: 40px;
    color: aliceblue;
}

.score > div{
    /* border-bottom: 3px white solid; */

    padding-top: 20px ;
    width: 25%;
    float: left;
    height: 50px;
}

#default-score > div{
    border-bottom: 3px white solid;
}

.score > div:first-of-type{
    text-align: left;
}

.field{
    display: flex;
    justify-content: center;
}

img{
    height: 50px;
}

.piece{
    margin: 20px;
    float: left;
}

.pieces_list{
    margin: auto;
    display: flex;
    justify-content: center;
}


