<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
</head>
<body>

<h1>Block Puzzle!</h1>
<div class="content_wrapper" >

    <div class="pieces_list" th:utext="${pieces}" ></div>

    <div class="field">
        <span th:utext="${htmlField}" ></span>
    </div>

</div>
</body>