<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head-info" ></head>

<body>

<!--<h1><a href="#">Block Puzzle</a></h1>-->
    <div th:replace="fragments::header" ></div>


    <span th:if="not ${@mainController.logged}">
        <form class="login" th:action="@{/login}" method="post">
            Login: <br><input class="inp" type="text" name="login"/><br/>
            Password: <br><input class="inp" type="text" name="password"/><br/>
            <input class="login-button" type="submit" value="Log in!"/>
        </form>
    </span>

    <span th:if="${@mainController.logged}">

        <div class="buttons" >
            <div ontouchstart="">
                <div class="button">
                    <a href="/game/new">Start Game!</a>
                </div>
            </div>
          <div class="button-container">
            <button onclick="window.location.href='/rating';" >Comment&Rate</button>
          </div>

            <div class="button-container">
            <button onclick="window.location.href='/logout';" >Logout</button>
          </div>

        </div>
    </span>
    <h1>Best Players</h1>

    <div th:replace="fragments::top-scores(scores=${scores})" ></div>

    <div th:replace="fragments::footer" ></div>

</body>
</html>
