<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head-info" ></head>

<body>

    <div th:replace="fragments::header" ></div>

    <h1 th:if="${regErr == null}" style="color: white" >Such user does not exist!</h1>
    <h2 th:if="${regErr == null}" >Create an account!</h2>

    <h2 th:if="${regErr != null}" th:text="${regErr}" ></h2>
    <form class="login" th:action="@{/register}" method="post">
        Login: <br><input class="inp" type="text" name="login"/><br/>
        Email: <br><input class="inp" type="email" name="email"/><br/>
        Password: <br><input class="inp" type="text" name="password"/><br/>
        <input class="login-button" type="submit" value="Log in!"/>
    </form>

    <div th:replace="fragments::footer" ></div>


</body>
</html>